* {
  box-sizing: border-box;
  text-transform: capitalize;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-image: url(https://wallpaper.dog/large/966025.jpg);
}
.main-container {
  width: 830px;
  height: 625px;
  background-color: white;
  margin: 100px auto;
  outline: solid 1px #eee;
  display: flex;
  justify-content: space-between;
}
.main-container .left {
  width: 315px;
  border-right: 1px solid #dfdae4;
}
.search {
  width: 315px;
  height: 100px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.line {
  width: 255px;
  height: 0.5px;
  background-color: #d5d7da;
}
input {
  width: 200px;
  height: 40px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  padding: 15px;
  background-color: #eceff1;
  color: #a7a9ae;
  border: none;
}
.search img {
  width: 40px;
  height: 40px;
}
.thomas {
  width: 315px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 15px;
  margin-bottom: 0;
}
.thomas img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.thomas p {
  font-size: 0.8rem;
  font-weight: bolder;
  white-space: nowrap;
  word-break: break-all;
}
.thomas p span {
  display: block;
  width: 130px;
  font-size: 0.7rem;
  color: #bab5be;
  padding: 5px;
  text-transform: none;
  white-space: nowrap;
  word-break: break-all;
}
.thomas .time {
  color: #9b999c;
  font-weight: 500;
}
.image {
  margin-top: 10px;
}
.thomas-blue {
  width: 315px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 15px;
  margin-bottom: 0;
  background-color: #00b0ff;
}
.thomas-blue img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.thomas-blue p {
  font-size: 0.8rem;
  font-weight: bolder;
  white-space: nowrap;
  word-break: break-all;
}
.thomas-blue p span {
  display: block;
  width: 130px;
  font-size: 0.7rem;
  color: white;
  padding: 5px;
  text-transform: none;
  white-space: nowrap;
  word-break: break-all;
}
.thomas-blue .time {
  color: white;
  font-weight: 500;
}
.thomas-blue .image {
  margin-top: 10px;
}
.nothing {
  width: 315px;
  height: 72px;
}
.right {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
}
.right .abo {
  width: 515px;
  height: 50px;
  background-color: #eee;
  margin: 0;
  display: flex;
  gap: 4px;
  padding: 15px;
  color: #bab5be;
  font-size: 0.85rem;
  font-weight: bold;
  margin-bottom: 165px;
}
.right .abo span {
  color: black;
}
.monday {
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: center;
  color: #9b999c;
  font-size: 0.9rem;
  position: relative;
}
.monday::before {
  content: "";
  width: 135px;
  height: 1px;
  background-color: #ddd;
  position: absolute;
  top: 40%;
  right: 67%;
}
.monday::after {
  content: "";
  width: 135px;
  height: 1px;
  background-color: #ddd;
  position: absolute;
  top: 40%;
  left: 67%;
}
.last-container {
  margin-left: 35px;
  width: 87%;
}
.so-you p {
  background-color: #00b0ff;
  font-size: 0.88rem;
  padding: 12px;
  color: white;
  width: fit-content;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  position: relative;
}
.so-you p::before {
  content: "";
  width: 0;
  height: 0;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-right: 8px solid #00b0ff;
  position: absolute;
  top: 45%;
  right: 100%;
}
.drak-why {
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-end;
}
.drak-why p {
  background-color: #eee;
  font-size: 0.88rem;
  padding: 12px;
  color: black;
  width: fit-content;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  position: relative;
  margin-bottom: 0px;
}
.drak-why p::before {
  content: "";
  width: 0;
  height: 0;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-left: 8px solid #eee;
  position: absolute;
  top: 45%;
  left: 100%;
}
.how {
  background-color: #00b0ff;
  font-size: 0.88rem;
  padding: 12px;
  color: white;
  width: fit-content;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  position: relative;
}
.how::before {
  content: "";
  width: 0;
  height: 0;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-right: 8px solid #00b0ff;
  position: absolute;
  top: 45%;
  right: 100%;
}
